<mat-toolbar color="primary" class="mat-elevation-z3 main-nav">
    <div>
      <a mat-button routerLink="/auth" *ngIf="!user">
        <mat-icon>account_circle</mat-icon>
        <span>Login/Register</span>
      </a>

      <a mat-button *ngIf="user" routerLink="/myfeed">
        <mat-icon>question_answer</mat-icon>
        <span>My Feed</span>
      </a>

    </div>

  <div>
    <a mat-button *ngIf="user" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </a>
  </div>


</mat-toolbar>

<router-outlet></router-outlet>


