.post-card {
  max-width: 600px;
  margin: 30px auto;

  .post-action-button{
width: 45%;
  }
  .write-comment-form{
    width: 90%;
    margin: 10px auto;
    mat-form-field{
      width: 100%;
    }
    button{
      width: 30%;
      font-size: larger;
    }

  }


  .comment-indicator{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}
