<mat-card class="mat-elevation-z6 profile-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>face</mat-icon>

        {{profile?.userName!}}

    </mat-card-title>
  </mat-card-header>
  <mat-card-actions style="text-align: end" *ngIf="user?.userId! !== profile?.userId!">
    <button mat-raised-button color="accent">Follow</button>
  </mat-card-actions>
  <mat-card-content>
    <mat-card class="mat-elevation-z6 write-post-form" *ngIf="user?.userId! === profile?.userId!">
      <mat-card-content>
        <form [formGroup]="postForm">
          <mat-form-field appearance="outline">
        <textarea matInput
                  placeholder="Thoughts..."
                  formControlName="content"
                  #content
                  cdkTextareaAutosize
                  [cdkAutosizeMinRows]="2"
                  [cdkAutosizeMaxRows]="5"
        >
        </textarea>
            <mat-hint align="end">
              {{content.value.length}} / 2500
            </mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: center">
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!postForm.valid">Post</button>
      </mat-card-actions>
    </mat-card>
    <div *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
    </div>
  </mat-card-content>
</mat-card>


