.comment-card {
  z-index: 3;
  background: #3f51b5;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  color: white;

  mat-card-subtitle {
    color: #e3e3e3;
  }
}

.comment-children-indicator {
  text-align: center;
  z-index: 1;
  margin: 0;
  transform: translate(50px, -2px);
  background: #ff4081;
  color: white;
  width: 150px;
  border-radius: 2px;

  a{
    cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
  }
}

.child-comment-card {
  z-index: 1;
  background: #ff4081;
  color: white;
  margin: 0 auto;
  width: 70%;
  transform: translate(5px, -20px);

  mat-card-subtitle {
    color: #e3e3e3;
  }
}

.child-form-card {
  z-index: 2;
  background: white;
  width: 80%;
  margin: 0 auto;
  transform: translateY(-5px);


    mat-form-field{
      width: 100%;
    }
}

.comment-actions-button{

    background: #ff4081;
    width: 30%;
    color: white;

}
